/* Estilos para el encabezado */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(207, 207, 207);
}
header {
    background-color: darkslategrey;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header #header h1 {
    font-size: 36px;
}

header #header h2 {
    font-size: 24px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
